<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="{{ url_for('static', filename='index.js') }}"></script>
        <title>CHAT</title>
    </head>
    <body>
        <h1>Please input a display name.</h1>
        <form id="login" action="{{ url_for('login') }}" method="post">
            <input id="display_name" name="display_name" autocomplete="off" autofocus placeholder="Display_name" type="text">
          
            <input id="submit" type="submit" value="Submit">
        </form>
        </form>
        <br>
        <div id="message">{{ message }}</div>
    </body>
</html>
